<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed %>
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
      <% else %>
        <i class="fa fa-square" aria-hidden="true"></i>
      <% end %>
      <%= link_to task[:title], task_path(task.id) %></li>
  <% end %>
</ul>

<%= link_to "Add new task", new_task_path %>
